nombre,lat,lng,descripcion,entorno,monto_contrato,etapa,tipo,comuna,jurisdiccion,mano_obra,porcentaje_avance,id,etapa_detalle,area_responsable,barrio,Calle₁,seccion,manzana,parcela,direccion,fecha_inicio,fecha_fin_inicial,plazo_meses,Imagen₁,Imagen₂,Imagen₃,Imagen₄,licitacion_oferta_empresa,licitacion_anio,benficiarios,compromiso,link_interno,pliego_descarga
Circunvalación noroeste,-24.74198231,-65.39623396,"El paso conectará la nueva autopista con la circunvalación oeste, por sobre la ruta provincial 28. Está previsto que en un mes empiecen las tareas para la construcción del paso bajo nivel en la rotonda del San Pablo.",Clasificación territorial de la obra,65000000,En ejecucion,Transporte,1,salta,,,,,,,,,,,,,,,,,,,,,,,,
La Caldera Highway,-24.68569407,-65.28966083,Lorem ipsum sit amet obre la ruta provincial 28. Está previsto que en un mes empiecen las tareas para la construcción del paso bajo nivel en la rotonda del San Pablo.,Clasificación territorial de la obra,12500000,En ejecucion,Transporte,20,lacaldera,,,,,,,,,,,,,,,,,,,,,,,,
General Guemes Highway,-24.84277461,-65.04497823,Lorem ipsum sit amet obre la ruta provincial 28. Está previsto que en un mes empiecen las tareas para la construcción del paso bajo nivel en la rotonda del San Pablo.,Clasificación territorial de la obra,78500000,En ejecucion,Transporte,30,guemes,,,,,,,,,,,,,,,,,,,,,,,,
